.home-bg {
  background-image: url("../assets/map.png");
  background-size: cover;
  background-position: center;
  height: 100%;
  .accordion-button::after {
    margin-right: 0;

    [dir="rtl"] & {
      margin-right: auto;
      margin-left: 0;
    }
  }
}
